@use "./utilities/mixins" as *;
:root {
  --background-default: #121212;
  --background-paper: #222327;
  --background-paper-light: #37383e;

  --background-contrastText: #efefef;

  --primary: #4594ff;
  --primary-light: #5695ed;
  --primary-dark: #1973f0;
  --primary-contrastText: #ffffff;

  --secondary: #ffffff;
  --secondary-contrastText: #000000;

  --text-primary: #ffffff;
  --text-primary-dark: #aaaaaa;
  --text-secondary: #181717;

  --warning: #f5c304;
  --error: #d95c5c;
}
.ditails {
  color: var(--text-primary-dark);
}
.highlight {
  background-color: var(--warning);
  color: var(--text-secondary);
}
