@use "../utilities/variables" as *;

@mixin screen-sm {
  @media  screen and (min-width: $screen-sm) {
    @content;
  }
}
@mixin screen-md {
  @media only screen and (min-width: $screen-md) {
    @content;
  }
}
@mixin screen-lg {
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}
// @mixin XlScreen {
//   @media only screen and (min-width: $screen-xl) {
//     @content;
//   }
// }
@mixin Flex(
  $jusifyContent: center,
  $alignItems: center,
  $flexDirection: row,
  $flexWrap: wrap
) {
  display: flex;
  justify-content: $jusifyContent;
  align-items: $alignItems;
  flex-flow: $flexDirection $flexWrap;
}
