// font size
$font-xs: 1.2rem;
$font-sm: 1.4rem;
$font-md: 1.8rem;
$font-lg: 2rem;
// $font-xs: 12px;
// $font-sm: 14px;
// $font-md: 18px;
// $font-lg: 20px;

//break points
$screen-sm: 300px;
$screen-md: 481px;
$screen-lg: 769px;
$screen-xl: 1201px; // breakpoints also defined in constants/styles.ts

//border raduis
$border-xs: 6px;
$border-sm: 10px;
$border-md: 15px;
$border-lg: 20px;
$border-full: 50%;
