// font size
$font-xs: 0.75rem;
$font-sm: 0.88rem;
$font-md: 1rem;
$font-lg: 1.25rem;
// $font-xs: 12px;
// $font-sm: 14px;
// $font-md: 18px;
// $font-lg: 20px;

//break points
$screen-sm: 300px;
$screen-md: 481px;
$screen-lg: 769px;
$screen-xl: 1201px;

//border raduis
$border-sm: 10px;
$border-md: 15px;
$border-lg: 20px;
$border-full: 50%;
