@use "../utilities/variables" as *;
@use "../utilities/variables" as *;

.button,
.button-outlined {
  border-radius: $border-sm;
  font-size: $font-xs;
  font-weight: 300;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}
.button {
  background-color: var(--secondary);
  color: var(--secondary-contrastText);
  &:hover {
    background-color: var(--primary);
    color: var(--primary-contrastText);
  }
}
.button-outlined {
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  &:hover {
    background-color: var(--secondary);
    color: var(--secondary-contrastText);
  }
}
