.ic-sm {
  width: 20px;
  height: 20px;
}
.ic-md {
  width: 30px;
  height: 30px;
}
.ic-lg {
  width: 40px;
  height: 40px;
}
.ic-xl {
  width: 50px;
  height: 50px;
}
.ic-xxl {
  width: 60px;
  height: 60px;
}
.ic-xxxl {
  width: 70px;
  height: 70px;
}
