@use "../utilities/mixins" as *;
.navbar {
  .nav-btn-login-md {
    display: none;
  }
  .nav-btn-login-lg {
    display: none;
  }
  ul {
    display: none;
    li {
      display: inline-block;
    }
  }

  @include Flex(flex-start);
  fill: var(--background-contrastText);
  color: var(--background-contrastText);
  & > div {
    @include Flex(flex-start);
    gap: 0.5rem;
  }
  & > div:first-child {
    flex-grow: 1;
  }

  .nav-toggle {
    cursor: pointer;
  }

  //media queries
  @include screen-md {
    .nav-btn-login-sm {
      display: none;
    }
    .nav-btn-login-md {
      display: block;
    }
  }
  @include screen-lg {
    .nav-btn-login-md {
      display: none;
    }
    .nav-btn-login-lg {
      display: block;
    }
    ul {
      @include Flex(flex-start);
      gap: 0.5rem;
      margin-right: 0.5rem;
    }
    .nav-toggle {
      display: none;
    }
  }
}
