@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.poster {
  @include Flex($alignItems: flex-start, $flexDirection: column);
  font-size: $font-xs;
  gap: .5rem;
  & img {
    object-fit: cover;
  }
}
