html{
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans, sans-serif;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
  height: fit-content;
}
button {
  border: 0;
  text-decoration: none;
  outline: none;
}
