@use "../utilities/mixins" as *;
.footer {
  @include Flex($flexDirection: column);
  gap: 1rem;
  background-color: var(--background-paper);
  padding: 1rem 2rem;
  color: var(--background-contrastText);
  .footer__links {
    max-width: 280px;
    li {
      display: inline-block;
      width: 50%;
    }
  }
  & > P {
    color: var(--text-primary-dark);
  }
  .footer__socials {
    @include Flex();
    gap: 1rem;
  }
}
